<section class="section-subscribe">
    <div class="section-subscribe__container">
        <h2 class="section-subscribe__title">Subscribe To Us</h2>
        <p class="section-subscribe__text">Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <form class="section-subscribe__form" action="POST">
            <input class="section-subscribe__form-text" type="email" placeholder="Your email adress" required />
            <button class="button button--form">Subscribe</button>
        </form>
    </div>
</section>