<section id="contact" class="section-contact">
    <h2 class="section-contact__title">Contact</h2>
    <p class="section-contact__description">For new projects, ideas, business or anything
        you'd like to discuss, contact with me!</p>
    <div class="section-contact__container">
        <form class="section-contact__form" action="POST">
            <input class="section-contact__input" type="text" placeholder="Auskteez Tran" minlength="5" required />
            <input class="section-contact__input" type="email" required placeholder="Your email..." required />
            <input class="section-contact__input" type="phone" minlength="5" placeholder="Your phone number" required />
            <textarea class="section-contact__textarea" name="message" id="" cols="30" rows="10"
                placeholder="Your message" minlength="10" required></textarea>
            <button class="button button--contact">send</button>
        </form>
        <div class="section-contact__callback">
            <h3 class="section-contact__callback--title">Address</h3>
            <p class="section-contact__callback--text">123 City name, Street, City, Country</p>
            <h3 class="section-contact__callback--title">Email</h3>
            <p class="section-contact__callback--text">cahee@domain.com</p>
            <h3 class="section-contact__callback--title">Phone</h3>
            <p class="section-contact__callback--text">+012 345 6789</p>
        </div>
    </div>
</section>