<section id="gallery" class="section-gallery">
    <div class="section-gallery__container">
        <h2 class="section-gallery__title">Gallery</h2>
        <p class="section-gallery__text">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
        <div class="section-gallery__grid grid">
            <div class="grid__row">
                <div class="grid__col grid__col--large grid__image-wrapper grid__image-wrapper--large">
                    <img src="images/Clip-1.png" alt="clip-1" />
                </div>
                <div class="grid__col grid__col--small">
                    <div class="grid__row grid__row--medium grid__image-wrapper grid__image-wrapper--small">
                        <img src="images/Clip-2.png" alt="clip-2" />
                    </div>
                    <div class="grid__row grid__row--medium grid__image-wrapper grid__image-wrapper--small">
                        <img src="images/Clip-3.png" alt="clip-3" />
                    </div>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__col grid__col--medium grid__image-wrapper grid__image-wrapper--medium">
                    <img class="grid__image" src="images/Clip-4.png" alt="clip-4" />
                </div>
                <div
                    class="grid__col grid__col--medium grid__image-wrapper grid__image-wrapper--medium grid__image-wrapper--marginless">
                    <img class="grid__image" src="images/Clip-5.png" alt="clip-5" />
                </div>
            </div>
        </div>
        <a class="button button--gallery" href="#">view more</a>
    </div>
</section>