<header id="home" class="header">
    <nav class="nav__fixed">
        <h1 class="logo">Cahee</h1>
        <label class="burger header__burger">
            <input class="burger__input" type="checkbox">
            <span class="burger__box">
                <span class="burger__item"></span>
                <span class="burger__item"></span>
                <span class="burger__item"></span>
            </span>
            <span class="nav__list burger__menu">
                <span class="nav__list-item">
                    <a class="nav__list-link" href="#home">home</a>
                </span>
                <span class="nav__list-item">
                    <a class="nav__list-link" href="#about">about</a>
                </span>
                <span class="nav__list-item">
                    <a class="nav__list-link" href="#services">services</a>
                </span>
                <span class="nav__list-item">
                    <a class="nav__list-link" href="#gallery">gallery</a>
                </span>
                <span class="nav__list-item">
                    <a class="nav__list-link" href="#blog">blog</a>
                </span>
                <span class="nav__list-item">
                    <a class="nav__list-link" href="#contact">contact</a>
                </span>
            </span>
        </label>
    </nav>
    <div class="header__content">
        <h2 class="header__content--title">Fresh Life</h2>
        <p class="header__content--text">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco.</p>
        <a href="#" class="button button--header">get free now</a>
    </div>
    <a class="scroll header__scroll" href="#about"></a>
</header>