/* color */
$color-main: #fff;
$color-text-main: #000;
$color-text-link: #007bff;
$colot-icon: rgb(37, 37, 37);

/* bg */
$bg-btn-gradient: linear-gradient(90deg, #1eacf5 0%, #1885bc 100%);

/* width */
$container-width: 1140px;

/* font */
$font-size-large: 24px;
$font-size-medium-primary: 28px;
$font-size-small-primary: 19px;
$font-size-extra-small: 16px;
$font-size-ultra-small: 11px;

$font-weight-regular: 400;
$font-weight-bold: 700;

/* screen */
$mobile-large: 577px;
