<section class="layout-rate" data-aos="fade-up">
  <h2 class="rate-title container">Rare features of the Universe</h2>
  <div class="wrapper-rate">
    <article class="article-rate">
      <span class="rate-info border-style-color"></span>
      <span class="rate-background rate-info border-style-color"></span>
      <p class="rate-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
      </p>
    </article>
    <article class="article-rate">
      <span class="rate-info border-style-color"></span>
      <span class="rate-background rate-info border-style-color"></span>
      <p class="rate-text rate-small">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam convallis
        sed diam amet. At risus rhoncus et eu velit commodo sed in malesuada.
      </p>
    </article>
    <article class="article-rate">
      <span class="rate-info border-style-color"></span>
      <span class="rate-background rate-info border-style-color"></span>
      <p class="rate-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
      </p>
    </article>
    <article class="article-rate">
      <span class="rate-info border-style-color"></span>
      <span class="rate-background rate-info border-style-color"></span>
      <p class="rate-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
      </p>
    </article>
    <article class="article-rate">
      <span class="rate-info border-style-color"></span>
      <span class="rate-background rate-info border-style-color"></span>
      <p class="rate-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
      </p>
    </article>
    <article class="article-rate">
      <span class="rate-info border-style-color"></span>
      <span class="rate-background rate-info border-style-color"></span>
      <p class="rate-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
      </p>
    </article>
    <article class="article-rate">
      <span class="rate-info border-style-color"></span>
      <span class="rate-background rate-info border-style-color"></span>
      <p class="rate-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
      </p>
    </article>
  </div>
</section>
