<section class="layout-choose layout-cost" data-aos="fade-up">
  <h2 class="choose-title">choose a coin</h2>
  <span class="arrow-right arrow-right-cost">
    <img src="./images/arrow-right.png" alt="arrow" />
  </span>
  <span class="arrow-left arrow-left-cost">
    <img src="./images/arrow.png" alt="arrow" />
  </span>
  <div class="wrapper-cost">
    <article class="choose-card">
      <div class="container box-row">
        <div class="box-choose-card" data-aos="fade-right">
          <h3 class="choose-card-title">Character</h3>
          <h2 class="choose-card-subtitle">Collection</h2>
          <p class="choose-card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam
            convallis sed diam amet. At risus rhoncus et eu velit commodo sed in
            malesuada. A viverra placerat ac euismod convallis eu ac. Augue
            feugiat tellus parturient quam integer. Hendrerit accumsan lectus
            sit nunc natoque rhoncus nulla. Ultricies est dui morbi interdum
            velit, mauris massa maecenas. Sapien et id mattis sit.
          </p>
          <button class="btn-choose btn-another-gradient">3000</button>
        </div>
        <div>
          <img
            src="./images/choose-robot2.png"
            data-aos="fade-left"
            class="choose-card-img"
          />
        </div>
      </div>
    </article>
    <article class="choose-card">
      <div class="container box-row">
        <div class="box-choose-card" data-aos="fade-right">
          <h3 class="choose-card-title">Character</h3>
          <h2 class="choose-card-subtitle">Collection</h2>
          <p class="choose-card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam
            convallis sed diam amet. At risus rhoncus et eu velit commodo sed in
            malesuada. A viverra placerat ac euismod convallis eu ac. Augue
            feugiat tellus parturient quam integer. Hendrerit accumsan lectus
            sit nunc natoque rhoncus nulla. Ultricies est dui morbi interdum
            velit, mauris massa maecenas. Sapien et id mattis sit.
          </p>
          <button class="btn-choose btn-another-gradient">3000</button>
        </div>
        <div>
          <img
            src="./images/choose-robot2.png"
            data-aos="fade-left"
            class="choose-card-img"
          />
        </div>
      </div>
    </article>

    <article class="choose-card">
      <div class="container box-row">
        <div class="box-choose-card" data-aos="fade-right">
          <h3 class="choose-card-title">Character</h3>
          <h2 class="choose-card-subtitle">Collection</h2>
          <p class="choose-card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam
            convallis sed diam amet. At risus rhoncus et eu velit commodo sed in
            malesuada. A viverra placerat ac euismod convallis eu ac. Augue
            feugiat tellus parturient quam integer. Hendrerit accumsan lectus
            sit nunc natoque rhoncus nulla. Ultricies est dui morbi interdum
            velit, mauris massa maecenas. Sapien et id mattis sit.
          </p>
          <button class="btn-choose btn-another-gradient">3000</button>
        </div>
        <div>
          <img
            src="./images/choose-robot2.png"
            data-aos="fade-left"
            class="choose-card-img"
          />
        </div>
      </div>
    </article>
    <article class="choose-card">
      <div class="container box-row">
        <div class="box-choose-card" data-aos="fade-right">
          <h3 class="choose-card-title">Character</h3>
          <h2 class="choose-card-subtitle">Collection</h2>
          <p class="choose-card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam
            convallis sed diam amet. At risus rhoncus et eu velit commodo sed in
            malesuada. A viverra placerat ac euismod convallis eu ac. Augue
            feugiat tellus parturient quam integer. Hendrerit accumsan lectus
            sit nunc natoque rhoncus nulla. Ultricies est dui morbi interdum
            velit, mauris massa maecenas. Sapien et id mattis sit.
          </p>
          <button class="btn-choose btn-another-gradient">3000</button>
        </div>
        <div>
          <img
            src="./images/choose-robot2.png"
            data-aos="fade-left"
            class="choose-card-img"
          />
        </div>
      </div>
    </article>
    <article class="choose-card">
      <div class="container box-row">
        <div class="box-choose-card" data-aos="fade-right">
          <h3 class="choose-card-title">Character</h3>
          <h2 class="choose-card-subtitle">Collection</h2>
          <p class="choose-card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam
            convallis sed diam amet. At risus rhoncus et eu velit commodo sed in
            malesuada. A viverra placerat ac euismod convallis eu ac. Augue
            feugiat tellus parturient quam integer. Hendrerit accumsan lectus
            sit nunc natoque rhoncus nulla. Ultricies est dui morbi interdum
            velit, mauris massa maecenas. Sapien et id mattis sit.
          </p>
          <button class="btn-choose btn-another-gradient">3000</button>
        </div>
        <div>
          <img
            src="./images/choose-robot2.png"
            data-aos="fade-left"
            class="choose-card-img"
          />
        </div>
      </div>
    </article>
    <article class="choose-card">
      <div class="container box-row">
        <div class="box-choose-card" data-aos="fade-right">
          <h3 class="choose-card-title">Character</h3>
          <h2 class="choose-card-subtitle">Collection</h2>
          <p class="choose-card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam
            convallis sed diam amet. At risus rhoncus et eu velit commodo sed in
            malesuada. A viverra placerat ac euismod convallis eu ac. Augue
            feugiat tellus parturient quam integer. Hendrerit accumsan lectus
            sit nunc natoque rhoncus nulla. Ultricies est dui morbi interdum
            velit, mauris massa maecenas. Sapien et id mattis sit.
          </p>
          <button class="btn-choose btn-another-gradient">3000</button>
        </div>
        <div>
          <img
            src="./images/choose-robot2.png"
            data-aos="fade-left"
            class="choose-card-img"
          />
        </div>
      </div>
    </article>
  </div>
</section>
