.layout-header {
  height: 100%;
  background-image: url('./../images/bg-header.png');
  background-repeat: no-repeat;
  background-position: -200px 0;
  background-size: cover;
  padding: 20px 20px 50px 20px;

  @include tablet {
    height: 100vh;
    padding: 35px 0 100px;
    background-position: 0 0;
  }
}
