.layout-rate {
  position: relative;
  padding: 80px 20px;
  background-image: url('./../images/star-rate.png'),
    url('./../images/bg-rate.png');
  background-repeat: no-repeat;
  background-size: cover;
}
