<header class="layout-header">
  <nav class="wrapper-nav" data-aos="fade-up">
    <span class="wrapper-logo">
      <img class="logo-img" src="./images/logo.png" alt="logo" />
    </span>
    <div>
      <button class="burger-menu">
        <span class="burger-item"></span>
        <span class="burger-item"></span>
        <span class="burger-item"></span>
      </button>
    </div>
    <ul class="nav animate__animated animate__bounceInUp">
      <li class="nav-item"><a href="#" class="nav-link"> About</a></li>
      <li class="nav-item"><a href="#" class="nav-link"> Product</a></li>
      <li class="nav-item"><a href="#" class="nav-link"> Blog</a></li>
    </ul>
  </nav>
  <div class="wrapper-header">
    <div class="wrapper-column" data-aos="fade-right">
      <h2 class="header-title">get your own nft collectibles</h2>
      <p class="header-text">
        own the most remarkable events and characters from the crypto space
        transformed into the fantasy story animated on unique collectible cards
      </p>
      <div class="box-btn box-center">
        <button class="btn">Learn more</button>
        <button class="btn">Go to market</button>
      </div>
    </div>
    <div class="wrapper-cards" data-aos="fade-left">
      <article class="card-character">
        <span class="card-box">
          <img class="card-img" src="./images/characters/character1.png" />
        </span>
        <h3 class="card-subtitle">Collection</h3>
        <h2 class="card-title">character name</h2>
      </article>
      <article class="card-character">
        <span class="card-box">
          <img class="card-img" src="./images/characters/character2.png" />
        </span>
        <h3 class="card-subtitle">Collection</h3>
        <h2 class="card-title">character name</h2>
      </article>
      <article class="card-character">
        <span class="card-box">
          <img class="card-img" src="./images/characters/character1.png" />
        </span>
        <h3 class="card-subtitle">Collection</h3>
        <h2 class="card-title">character name</h2>
      </article>
      <article class="card-character">
        <span class="card-box">
          <img class="card-img" src="./images/characters/character2.png" />
        </span>
        <h3 class="card-subtitle">Collection</h3>
        <h2 class="card-title">character name</h2>
      </article>
      <article class="card-character">
        <span class="card-box">
          <img class="card-img" src="./images/characters/character1.png" />
        </span>
        <h3 class="card-subtitle">Collection</h3>
        <h2 class="card-title">character name</h2>
      </article>
    </div>
  </div>
</header>
