<section class="layout-choose" data-aos="fade-up">
  <h2 class="choose-title">choose a coin</h2>
  <span class="arrow-right">
    <img src="./images/arrow-right.png" alt="arrow" />
  </span>
  <span class="arrow-left">
    <img src="./images/arrow.png" alt="arrow" />
  </span>
  <div class="wrapper-choose">
    <article class="choose-card">
      <div class="container box-row">
        <div>
          <img src="./images/choose-robot.png" class="choose-card-img" />
        </div>
        <div class="box-choose-card" data-aos="fade-left">
          <h3 class="choose-card-title">Character</h3>
          <h2 class="choose-card-subtitle">Collection</h2>
          <p class="choose-card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam
            convallis sed diam amet. At risus rhoncus et eu velit commodo sed in
            malesuada. A viverra placerat ac euismod convallis eu ac. Augue
            feugiat tellus parturient quam integer. Hendrerit accumsan lectus
            sit nunc natoque rhoncus nulla. Ultricies est dui morbi interdum
            velit, mauris massa maecenas. Sapien et id mattis sit.
          </p>
          <div class="box-btn box-small-btn">
            <button class="btn-choose">
              <img src="./images/bitcoin.png" alt="money-bitcoin" />
            </button>
            <button class="btn-choose">
              <img src="./images/language.png" alt="money-language" />
            </button>
          </div>
        </div>
      </div>
    </article>

    <article class="choose-card">
      <div class="container box-row">
        <div>
          <img
            src="./images/choose-robot.png"
            data-aos="fade-right"
            class="choose-card-img"
          />
        </div>
        <div class="box-choose-card" data-aos="fade-left">
          <h3 class="choose-card-title">Character</h3>
          <h2 class="choose-card-subtitle">Collection</h2>
          <p class="choose-card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam
            convallis sed diam amet. At risus rhoncus et eu velit commodo sed in
            malesuada. A viverra placerat ac euismod convallis eu ac. Augue
            feugiat tellus parturient quam integer. Hendrerit accumsan lectus
            sit nunc natoque rhoncus nulla. Ultricies est dui morbi interdum
            velit, mauris massa maecenas. Sapien et id mattis sit.
          </p>
          <div class="box-btn box-small-btn">
            <button class="btn-choose">
              <img src="./images/bitcoin.png" alt="money-bitcoin" />
            </button>
            <button class="btn-choose">
              <img src="./images/language.png" alt="money-language" />
            </button>
          </div>
        </div>
      </div>
    </article>
    <article class="choose-card">
      <div class="container box-row">
        <div>
          <img
            src="./images/choose-robot.png"
            data-aos="fade-right"
            class="choose-card-img"
          />
        </div>
        <div class="box-choose-card" data-aos="fade-left">
          <h3 class="choose-card-title">Character</h3>
          <h2 class="choose-card-subtitle">Collection</h2>
          <p class="choose-card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam
            convallis sed diam amet. At risus rhoncus et eu velit commodo sed in
            malesuada. A viverra placerat ac euismod convallis eu ac. Augue
            feugiat tellus parturient quam integer. Hendrerit accumsan lectus
            sit nunc natoque rhoncus nulla. Ultricies est dui morbi interdum
            velit, mauris massa maecenas. Sapien et id mattis sit.
          </p>
          <div class="box-btn box-small-btn">
            <button class="btn-choose">
              <img src="./images/bitcoin.png" alt="money-bitcoin" />
            </button>
            <button class="btn-choose">
              <img src="./images/language.png" alt="money-language" />
            </button>
          </div>
        </div>
      </div>
    </article>

    <article class="choose-card">
      <div class="container box-row">
        <div>
          <img
            src="./images/choose-robot.png"
            data-aos="fade-right"
            class="choose-card-img"
          />
        </div>
        <div class="box-choose-card" data-aos="fade-left">
          <h3 class="choose-card-title">Character</h3>
          <h2 class="choose-card-subtitle">Collection</h2>
          <p class="choose-card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam
            convallis sed diam amet. At risus rhoncus et eu velit commodo sed in
            malesuada. A viverra placerat ac euismod convallis eu ac. Augue
            feugiat tellus parturient quam integer. Hendrerit accumsan lectus
            sit nunc natoque rhoncus nulla. Ultricies est dui morbi interdum
            velit, mauris massa maecenas. Sapien et id mattis sit.
          </p>
          <div class="box-btn box-small-btn">
            <button class="btn-choose">
              <img src="./images/bitcoin.png" alt="money-bitcoin" />
            </button>
            <button class="btn-choose">
              <img src="./images/language.png" alt="money-language" />
            </button>
          </div>
        </div>
      </div>
    </article>
    <article class="choose-card">
      <div class="container box-row">
        <div>
          <img
            src="./images/choose-robot.png"
            data-aos="fade-right"
            class="choose-card-img"
          />
        </div>
        <div class="box-choose-card" data-aos="fade-left">
          <h3 class="choose-card-title">Character</h3>
          <h2 class="choose-card-subtitle">Collection</h2>
          <p class="choose-card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam
            convallis sed diam amet. At risus rhoncus et eu velit commodo sed in
            malesuada. A viverra placerat ac euismod convallis eu ac. Augue
            feugiat tellus parturient quam integer. Hendrerit accumsan lectus
            sit nunc natoque rhoncus nulla. Ultricies est dui morbi interdum
            velit, mauris massa maecenas. Sapien et id mattis sit.
          </p>
          <div class="box-btn box-small-btn">
            <button class="btn-choose">
              <img src="./images/bitcoin.png" alt="money-bitcoin" />
            </button>
            <button class="btn-choose">
              <img src="./images/language.png" alt="money-language" />
            </button>
          </div>
        </div>
      </div>
    </article>

    <article class="choose-card">
      <div class="container box-row">
        <div>
          <img
            src="./images/choose-robot.png"
            data-aos="fade-right"
            class="choose-card-img"
          />
        </div>
        <div class="box-choose-card" data-aos="fade-left">
          <h3 class="choose-card-title">Character</h3>
          <h2 class="choose-card-subtitle">Collection</h2>
          <p class="choose-card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam
            convallis sed diam amet. At risus rhoncus et eu velit commodo sed in
            malesuada. A viverra placerat ac euismod convallis eu ac. Augue
            feugiat tellus parturient quam integer. Hendrerit accumsan lectus
            sit nunc natoque rhoncus nulla. Ultricies est dui morbi interdum
            velit, mauris massa maecenas. Sapien et id mattis sit.
          </p>
          <div class="box-btn box-small-btn">
            <button class="btn-choose">
              <img src="./images/bitcoin.png" alt="money-bitcoin" />
            </button>
            <button class="btn-choose">
              <img src="./images/language.png" alt="money-language" />
            </button>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
