<section class="layout-touch" data-aos="fade-up">
  <div class="container">
    <h4 class="touch-title">Get in touch</h4>
    <p class="touch-text">
      Token purchase and staking service will operate after the official launch.
      Join our social networks for more information
    </p>
    <div class="box-btn box-large container">
      <button class="btn btn-touch">
        <i class="fab fa-telegram-plane"></i>
        <p class="touch-link">chat with us on telegram</p>
      </button>

      <button class="btn btn-touch">
        <i class="fab fa-medium-m"></i>
        <p class="touch-link">read more details</p>
      </button>
      <button class="btn btn-touch">
        <i class="far fa-comment-dots"></i>
        <p class="touch-link">join our community</p>
      </button>
      <button class="btn btn-touch">
        <i class="fab fa-twitter"></i>
        <p class="touch-link">explore our tweets</p>
      </button>
    </div>
  </div>
</section>
