<footer class="layout-touch layout-up-to-date" data-aos="fade-up">
  <div class="container">
    <h2 class="date-title">Keep up to date with the latest news</h2>
    <p class="date-text">
      Stay informed about the latest information and limited offers! Subscribe
      to our newsletter
    </p>
    <form class="box-input" action="">
      <input
        class="date-input"
        type="email"
        minlength="2"
        required
        placeholder="Enter your email"
      />
      <button type="submit" class="btn btn-subscribe">Subscribe</button>
    </form>
  </div>
</footer>
