.layout-player {
  position: relative;
  width: 100%;
  border: 3px solid $color-main;
  border-radius: 0%;
  margin: 16px auto;

  &::before {
    display: block;
    content: '';
    padding-top: 56%;
  }
}
