.agreement-label {
  @include text($font-size-ultra-small, $font-weight-regular, $color-main);
  background-color: rgba($color: #000000, $alpha: 0.5);
  padding: 5px;
  max-width: 400px;
  min-width: 250px;
  text-align: left;
  font-family: sans-serif;
  line-height: 14px;
  border-radius: 5px;
}

.agreement-checkbox {
  margin-right: 3px;
}

.agreement-link {
  color: $color-text-link;
  text-decoration: underline;
}
