.links-link {
  padding: 2px 5px;
  @include text(13px, $font-weight-regular, $color-main);
  word-wrap: break-word;
  line-height: 18px;
  font-family: 'Montserrat', sans-serif;

  @media screen and (min-width: 768px) {
    padding: 2px 60px;
  }
}

.links-item {
  max-width: 160px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 21px;
  }

  @media screen and (min-width: 768px) {
    max-width: 100%;
    margin-bottom: 0px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.list-links {
  @include flex(center, center, column, wrap);

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
