.purple-circle {
  position: absolute;
  bottom: 15px;
  right: 25%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $background-gradient-bubble;
  transform: rotate(70deg);
}

.circle-small-second {
  bottom: 10px;
  right: 22.5%;
  width: 10px;
  height: 10px;
}

.circle-medium-primary {
  bottom: 28px;
  right: 22%;
  width: 17px;
  height: 17px;
}

.circle-medium-second {
  top: 78px;
  right: 5%;
  width: 14px;
  height: 14px;
}

.circle-large-primary {
  top: 35px;
  right: 3%;
  width: 20px;
  height: 20px;
}

.circle-large-second {
  top: 15px;
  right: 7%;
  width: 30px;
  height: 30px;
}
