.btn-touch {
  @include flex(flex-start, center, row, nowrap);
  min-width: 270px;
  min-height: 60px;
  width: 100%;
  background: $background-gradient-btn-message;
  border-radius: 100px;
  padding: 15px 20px;
  margin-bottom: 20px;

  @include mobile-large {
    margin-right: 25px;
  }

  @include desktop-large {
    margin-bottom: 0;
  }

  & > i {
    margin-right: 11px;
  }

  @include desktop {
    &:hover {
      color: $color-text-primary;

      .touch-link {
        color: $color-text-primary;
      }
    }

    &:active {
      transform: scale(1.1);

      .touch-link {
        transform: scale(1.1);
      }
    }
  }
}
