.modal-title {
  color: $color-text-brigth;
  font-size: $font-size-medium;
  margin-bottom: 20px;
}

.modal-info {
  z-index: 100;
  padding: 20px;
  max-width: 500px;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-text-extra-ligth;
  border: 5px solid #c7eafd;
  border-image: -webkit-linear-gradient(to left, #e8198b 0%, #c7eafd 100%);
  border-image: -moz-linear-gradient(to left, #e8198b 0%, #c7eafd 100%);
  border-image: -o-linear-gradient(to left, #e8198b 0%, #c7eafd 100%);
  border-image: linear-gradient(to left, #e8198b 0%, #c7eafd 100%);
  border-image-slice: 1;

  & > p {
    width: 100%;
    padding: 5px;
  }
}
