@font-face{
    font-family: Heartless;
    src: url("/fonts/15569.ttf");
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Heartless;
    letter-spacing: 0.2em;
}
.title{
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 50px;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 0 10px;
}
.box{
    max-width: 600px;
    &__subtitle{
        font-size: 28px;
        text-transform: uppercase;
    }
    &__link{
        text-decoration: none;
        color: rgb(153, 77, 15);
        font-size: 20px;
    }
    &__caption{
        font-size: 25px;
        margin-bottom: 30px;
        &:before{
            display: block;
            content: "";
            width: 50px;
            border-bottom: 2px solid #fff;
            margin-bottom: 15px;
        }
    }
    &__list{
        list-style: square;
        color: #707070;
        font-size: 22px;
        margin-left: 45px;
        &-item{
            margin-bottom: 15px;
            &--wrapper{
                width: 40px;
                margin-right: 15px;
            }
        }
        &--footer{
            list-style: none;
            color: #fff;
            margin: 0;
            display: flex;
        }
    }
    &__text{
        color: #707070;
        font-size: 25px;
        margin-bottom: 25px;
    }
    &__image{
        max-width: 500px;
    }
    &--wrap
    {
        margin-right: 300px;
    }
}
.footer{
    background-color: rgb(26, 26, 26);
    padding: 40px 0;
    color: #fff;
    &__text{
        text-align: center;
        font-size: 20px;

    }
}
.icon{
    width: 20px;
}