.is-hidden-btn {
  display: none;
}

.is-active-modal {
  display: block;
  box-shadow: 0 0 0 1000px rgba(#000, 0.5);
}

.is-no-scroll {
  overflow: hidden;
}

.is-hidden-block {
  display: none;
}

.is-block-active {
  display: block;
}
