.input-wrapper {
  padding: 0 10px;
  max-width: 480px;
  width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 360px;
  }
}

.input {
  @include text($font-size-extra-small, $font-weight-regular, $color-text-main);
}

.fas {
  @include size(15px);
  color: $colot-icon;
  margin-right: 20px;
}
