.section-contact{
    background-image: url("../images/contact.png");
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 100vh;
    height: max-content;
    padding-bottom: 100px;
    &__title{
        @include text($H700, 700, $dark);
        padding-top: 101px;
        text-align: center;
        margin-bottom: 28px; 
        @media screen and (min-width: $screen-iphone){
            font-size: $H900;
        }
    }
    &__description{
        @include text($H200, 300, $dark);
        text-align: center;
        line-height: 25px;
        max-width: 450px;
        @extend %center;
        margin-bottom: 46px;
        @media screen and (min-width: $screen-fullhd) {
            font-size: $H400;
        }
    }
    &__container{
        @extend %container;
        @include flex(center, center, column-reverse);
        @media screen and (min-width: $screen-tablet){
            flex-direction: row;
            align-items: stretch;
            justify-content: space-around;
        }
    }
    &__form{
        @include flex(space-around, stretch, column);
        &:valid button{
            visibility: visible;
            opacity: 1;
        }
    }
    &__input{
        @include text($H50, 400, $white);
        margin-bottom: 15px;
        max-width: 500px;
        border: none;
        border-left:5px solid transparent;
        height: 50px;
        color:$white;
        background-color: $about-bg-color;
        padding-left: 5px;
        opacity: 1;
        opacity: 0.5;
        @media screen and (min-width: $screen-tablet){
            width: 600px;
        }            
        &:hover{
            opacity: 1;
            border-color: $br-color;
        }
        &:invalid:not(:placeholder-shown){
            border-color: red;
            opacity: 1;
        }
        &:valid{
            border-color: green;
            opacity: 1;
        }
        &::placeholder,
        &:placeholder-shown{
            @include text($H50, 400, $white);
        }
        
    }
    &__textarea{
        max-width: 500px;
        background-color: $about-bg-color;
        color:$white;
        opacity: 1;
        padding-left: 10px;
        padding-top: 15px;
        margin-bottom: 15px;
        overflow: hidden;
        border: none;
            border-left:5px solid transparent;
            opacity: 0.5;
            &:hover{
                opacity: 1;
                border-color: $br-color;                    
            }   
            &:invalid:not(:placeholder-shown){
                border-color: red;
                opacity: 1;
            }
            &:valid{
                border-color: green;
                opacity: 1;
            }             
        
            &::placeholder,
            &:placeholder-shown{
                @include text($H50, 400, $white);
            }
    }
    &__callback{
        &--title{
            @include text($H300, 700, $dark);
            line-height: 25px;
            text-transform: uppercase;
            @media screen and (max-width: $screen-tablet){
                text-align: center;
            }                    
        }
        &--text{
            @include text($H200, 300, $dark);
            margin-bottom: 15px;
            @media screen and (max-width: $screen-tablet){
                text-align: center;
            }                
        }
        margin-bottom: 15px;
    }
}


