.section-gallery{
    position: relative;
    background-color: $gallery-bg-color;
    padding-bottom: 100px;
    &__container{
        @extend %container;
    }
    &__title{
        @include text($H700, 700, $dark);
        line-height: 27px;
        margin-bottom: 48px;
        text-align: center;
        padding-top: 100px;
        @media screen and (min-width: $screen-tablet){
          font-size: $H900;
        }
    }
    &__text{
        @include text($H200, 300, $dark);
        max-width: 577px;
        margin: 0 auto;
        margin-bottom: 46px;
        text-align: center;
        line-height: 1.5;
        @media screen and (min-width: $screen-fullhd) {
            font-size: $H400;
            max-width: 676px;
        }
    }    
}
.grid {
  padding-bottom: 50px;
    &__row {
      @include flex(flex-start, stretch, column);
      @media screen and (min-width: $screen-tablet) {
        flex-direction: row;
        &:not(:last-child) {
          margin-bottom: 30px;
        }
        &--medium {
          flex: 1 1 50%;
          min-height: 47.5%;
          min-width: 100%;
        }
      }
    }
    &__col {
      width: 100%;
      @include flex;
      flex-direction: column;
      @media screen and (min-width: $screen-tablet) {
        width: auto;
        flex: 1 1 100%;
        &:not(:last-child) {
          margin-right: 24px;
        }
        &--medium {
          flex: 1 1 50%;
        }
        &--large {
          flex: 1 1 66.6%;
        }
        &--small {
          flex: 1 1 33.3%;
        }
      }
    }
    &__image-wrapper {
      position: relative;
      background-color: $grey;
      @include padding-hack(71%, cover);
      margin-bottom: 24px;
      box-shadow: 0 2px 5px 0 (black, 0.5);
      transition: all 0.5s ease;
      &--marginless {
        margin-bottom: 0;
      }
      @media screen and (min-width: $screen-tablet) {
        &:hover{
          transform: scaleX(-1);
          box-shadow: 0 0 10px 1px black;
        }
        margin-bottom: 0;
        &--large {
          padding-bottom: 46.5%;
        }
        &--small {
          height: auto;
          padding-bottom: 0;
        }
        &--medium {
          padding-bottom: 34.3%;
        }
      }
    }
  }